<div ng-controller="RacePicksController">
    <h2>Race Picks - {{racePicks.RaceName}} - {{racePicks.TrackName}}</h2>
    <div class="container">
        <div ng-repeat="driver in racePicks.Drivers" class="col-md-3">
            <input type="checkbox" ng-model="driver.Selected" > {{driver.CarNumber}} - {{driver.FirstName}} {{driver.LastName}}
            <br />
        </div>
    </div>
    <div class="container">
        <br />
        <button type="submit" ng-click="saveRacePicks(racePicks)">Save Race Picks</button>
    </div>
    <br />
    <div>
        {{errorMsg}}
    </div>
</div>

