<div class="row">
    <div ng->
        <table>
            <tbody ng-repeat="Game in NFLWeek.NFLGames | orderBy:'GameTime'">
                <tr>
                    <td style="padding-left:3em;">
                        <img ng-src="{{Game.HomeTeam.LogoImage}}" style="width: 28px;height: 21px" />
                        {{Game.HomeTeam.TeamName}}
                    </td>
                    <td>
                        <input type="checkbox" ng-model="Game.HomeTeamPicked" ng-show="{{ShowPicks}}" ng-disabled="{{Game.PicksAllowed}}==false">
                        <input type="text" ng-model="Game.HomeTeamScore" ng-show="{{ShowScores}}" style="width:50px; text-align:center" />
                    </td>
                    <td rowspan="2" style="padding-left:2em;">
                        {{Game.GameTime | date:'EEEE h:mma'}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:3em;">
                        <img ng-src="{{Game.VisitingTeam.LogoImage}}" style="width: 28px;height: 21px" />
                        {{Game.VisitingTeam.TeamName}}
                    </td>
                    <td>
                        <input type="checkbox" ng-model="Game.VisitingTeamPicked" ng-show="{{ShowPicks}}" ng-disabled="{{Game.PicksAllowed}}==false">
                        <input type="text" ng-model="Game.VisitingTeamScore" ng-show="{{ShowScores}}" style="width:50px; text-align:center" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <hr />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
