<div ng-controller="NFLCurrentSeasonController">
    <h2>Game Picks {{NFLCurrentSeason.SeasonDescription}}</h2>
    <div>
        Select Week:
        <select id="WeekList" onchange="ShowDiv(this.value);">
            <option ng-repeat="NFLWeek in NFLCurrentSeason.NFLWeeks" value="#Week{{NFLWeek.NFLWeekId}}">{{NFLWeek.Description}}</option>
        </select>
    </div>
    <hr />
    <div id="Week{{NFLWeek.NFLWeekId}}" ng-repeat="NFLWeek in NFLCurrentSeason.NFLWeeks" style="display:none">
            <div class="row" ng-repeat="Game in NFLWeek.NFLGames">
                <div class="col-lg-3"><input type="checkbox" ng-model="Game.HomeTeamPicked"> {{Game.HomeTeam.City}} {{Game.HomeTeam.TeamName}}</div>
                <div class="col-lg-3">vs.</div>
                <div class="col-lg-3"><input type="checkbox" ng-model="Game.VisitingTeamPicked"> {{Game.VisitingTeam.City}} {{Game.VisitingTeam.TeamName}}</div>
                <div class="col-lg-3">{{Game.GameTime | date: 'h:mma'}}</div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    function ShowDiv(divName) {
        $("div[id *= 'Week']").hide();
        $(divName).show();
    }
</script>